#crewPage {
    background-image: url('/img/crew/background-crew-desktop.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #crewDescription {
        margin-left: 8rem;
        justify-content: space-between;
        .pageCard {
            margin-top: 2rem;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           
            #crewCardHeader {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h3, h4 {
                    text-transform: uppercase;
                    overflow: visible;
                }
                h4 {
                    @include heading4(#979797);
                }
               
               h3 {
                white-space: nowrap;
               }
            }
        }
        nav {
            display: flex;
            width: 25%;
            justify-content: space-between;
            align-items: flex-end;
            .navCircle {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #ffffff39;
                cursor: pointer;
                &:hover {
                    background-color: $grey-hover;
                }
            }
            .navCircleActive {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $white;
            }
        }
       
        
    }
    #crewImg {
        width: 40%;
        height: 750px;

        img {
            position: absolute;
            bottom: 0;
        }
        
    }
    #crewImgMobile {
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
    #crewPage {
        background-image: url('/img/crew/background-crew-tablet.jpg');
        #crewContent {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: space-between;
            #crewDescription {
                width: 100%;
                height: 35%;
                justify-content: space-between;
                align-items: center;
                margin-left: 0;
                
               
                nav {
                    width: 115px;
                    height: 50px;
                    display: flex;
                    align-items: center;
            
                }
                #crewCard {
                    height: 232px;
                    display: flex;
                    align-items: center;
                    margin-top: 0; 
                    margin-bottom: 0.5rem; 
                    #crewCardHeader {
                        height: 50%;
                        justify-content: space-evenly;
                        h3, h4 {
                            display: flex;
                            justify-content: center;
                        }
                        h4 {
                            margin-bottom: 0.5rem;
                        }
                    }
                    p {
                        width: 600px;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin-top: 1rem;
                    }   
              
            }
           
        }  
        #crewImg {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            
        }
        #crewImgMobile {
            display: none;}
        }
    }
}
@media screen and (max-width: 599px) {
    #crewPage {
        background-image: url('/img/crew/background-crew-mobile.jpg');
        justify-content: center;
        #crewContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            #crewImg {
                display: none;
            }
            #crewImgMobile {
                order: 1;
                width: 90%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                border-bottom: 1px solid $grey-hover;
            }
            #crewDescription {
                order: 2;
                width: 100%;
                height: 60%;
                margin-left: 0;
                justify-content: space-evenly;
                align-items: center;
                #crewCard {
                    order: 2;
                    display: flex;
                    align-items: center;
                    margin-top: 0;
                    #crewCardHeader {
                        h4 {
                            text-align: center;
                            font-size: 16px;
                        }
                        h3 {
                            font-size: 26px;
                        }
                    }
                    #crewBodyText {
                        font-size: 15px;
                        width: 327px;
                        text-align: center;
                    }
                   
                }
                nav {
                    margin-top: 1rem;
                    align-items: center;
                    order: 1;
                }
               
            }
        }

    }
}