header {
    width: 95%;
    height: 96px;
    margin-top: 1.5rem;
    position: fixed;
    top: 1.5rem;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #headerLineDecoration {
        content: ' ';
        width: 430px;
        height: 1px;
        border-bottom: 1px solid #ffffff7b;
        margin-right: -10%;
        z-index: 10;
        @media screen and (min-width: 1600px){
            width: 50%;
        }
    }
    nav {
        width: 830px;
        height: 96px;
        background-color: #9797970e;
        backdrop-filter: blur(30px);
        display: flex;
        justify-content: center;
       .links {
            width: 542px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            a {
                @include navtext($white);
                height: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-right: 0.5rem;
                span {
                    font-family: $barlowCondensedBoldfont;
                    font-weight: 600;
                    margin-right: 0.5rem;
                    color: $white;
                }
                &:hover {
                    border-bottom: 3px solid #ffffff7b;
                }
            }
            .navLinkActive {
                border-bottom: 3px solid $white;
            }
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
    header {
        margin-top: 0;
        top: 0;
        #headerLineDecoration {
            display: none;
        }
        nav {
            width: 450px;
            .links {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
    
}