#technologyPage {
    background-color: $primary-color;
    background-image: url('/img/technology/background-technology-desktop.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    #technologyContent {
        width: 100%;
        margin-left: 30%;
        nav {
            height: 303px;
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .navCircle {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 1px solid $grey-hover;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                p {
                    @include heading4($white);
                }
                &:hover {
                    border: solid 1px $white;
                }    
            }
            .navCircleActive {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    @include heading4($primary-color);
                }
            }
        }
            #technologyDescription {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                #technologyCard {
                    width: 100%;
                    height: 303px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }
              
                #technologyCardHeader {
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
                    h3 {
                        text-transform: uppercase
                    }
                }
                p {
                    @include body($light-blue);
                    width: 444px;
                    line-height: 32px;
                }
            }
            #technologyImg {
                width: 50%;
            }

    }
}
@media screen and (min-width: 600px) and (max-width: 1300px) {
    #technologyPage {
        background-image: url('/img/technology/background-technology-tablet.jpg');
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        #technologyContent {
            margin: 0px;

            #technologyImg {
                order: 1;
                width: 100%;
                height: 310px;
                display: flex;
                justify-content: center;
                
            }
            nav {
                width: 210px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                order: 2;
                .navCircle {
                    width: 60px;
                    height: 60px;
                }
                .navCircleActive {
                    width: 60px;
                    height: 60px;
                }
            }
            #technologyDescription {
                order: 3;
                width: 100%;
                height: 350px;
                justify-content: center;
                #technologyCard {
                    align-items: center;
                    #technologyCardHeader {
                        h3 , p{
                            text-align: center;
                        }
                    }
                    p {
                        text-align: center;
                    }
                }
            }   
            
            
        }
    }
}
@media  screen and (max-width: 599px) {
    #technologyPage {
        background-image: url('/img/technology/background-technology-mobile.jpg');
        justify-content: center;
        #technologyContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    
}

