@import  './_mixins';
@import './_variables';
@import './home.scss';
@import './destination.scss';
@import '_crew.scss';
@import './header.scss';
@import './technology.scss';

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html {
    width: 100vw;
    height: 100vh;
    body {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        main {
            width: 100%;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &::after {
                content: "";
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.319); /* Couleur de filtre noir avec une opacité de 50% */
                 /* Assure que le filtre est devant l'image de fond */
            }
            #titleBanner {
                display: flex;
                width: 100%;
                margin-top: 8rem;
                margin-left: 30%;
                h5 {
                    @include heading5($white);
                    span {
                        color: #979797;
                    }
                }
            } 
            .pageContent {
                width: 100%;
                height: 500px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 5rem;
                .pageDescription {
                    width: 40%;
                    height: 472px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .pageBodyText {
                        @include body($light-blue);
                        line-height: 32px;
                        width: 444px;
                    }
                }
                
            }
            
        }
    }
    
    height: 100vh;
    h1 {
        @include heading1($white);
    }
    h2 {
        @include heading2($white);
    }
    h3 {
        @include heading3($white);
    }
   
    

      
    
    
}